.header{
    // background-color: rgb(0,22,131);
    background-color:rgb(20,20,169);
    
    
}

.img_logo{
    width:40px;
    height:40px;
}




.algo{
    height: 600px;
    width: 100%;
    background-image: url("../assets/img/zoom.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;

    .algo_titulo{
        height: 265px;
        width: 255px;
        // background-color: rgba(16, 16, 231, .7);
        animation-name: slideinRight;
        position:relative;
        animation-duration: 2.5s;
        img{
            height:150px;
            width:150px;
        }
    }
    .algo_slogan{
        animation-name: slideinLeft;
        position:relative;
        animation-duration: 2.5s;
    }
}

@keyframes slideinRight {
    from {
        left:-70%;
    }
  
    to {
      left:0px;
    }
  }
@keyframes slideinLeft {
    from {
        right:-70%;
    }
  
    to {
      right:0px;
    }
  }