.servicios{
    background-image: radial-gradient(circle at 52.23% 51.87%, #8b41ff 0, #2121f4 35%, #01023A 100%);
    min-height: 630px;
    div{
        div{
            padding-top: 5px;
            
            &:hover{
                background-color: rgb(49, 114, 199);
                transform:scale(1.1,1.1);
            }
        }
        
    }
}